<div id="main">
  <%= text_field_tag :q, "", autocomplete: :off, autofocus: true, placeholder: "Find or Create by Name..."%>

  <ul id="clients" style="">
    <%= render Client.all %>
	
  	<li class="suggester client_suggester" style="background: #eee; padding: 10px; margin-top: 5px; ">
  		<a href="#" class="show_new_client_form">
  			Add <span class="name" style="font-weight: bold; "></span> to the db.
  		</a>
      <%= render "clients/form" %>
  	</li>

  </ul>
</div>

<div id="sidebar">
  <% [["Big Problems", 1]].each do |list, id| %>
    <div class="list">
      <h3><%= list %></h3>
      <ul id="list_<%= id %>" class="todo_list">
        <%= render Task.where(list_id: id) %>
        <li class="suggester task_suggester"><%= render partial: "tasks/form", locals: { list_id: id } %></li>
      </ul>
    </div>
  <% end %>
  
  <%= render "paid_clients" %>
</div>