<%= form_for Client.new, remote: true do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :company %><br>
    <%= f.text_field :company %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :initiated_by %><br>
    <%= f.select :initiated_by, options_for_select([["Cold Call", "cold_call"], ["Email", "email"], ["Phone", "phone"]]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
